@charset "UTF-8";
@font-face {
	font-family: "Walkway Black";
	font-style: normal;
	font-weight: normal;
	src: local("Walkway Black"),
		url("../assets/fonts/Walkway_Black.ttf") format("ttf");
}
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	position: relative;
	border: none;
}
html,
body {
	font-size: 1em;
	font-family: "Walkway Black", Arial, Helvetica, sans-serif;
	width: 100vw;
	height: 100%;
	background-color: white;
	scroll-behavior: smooth;
}

body {
	padding: 5px;
	padding-right: 20px;
}
h1 {
	text-align: center;
}
p {
	text-align: justify;
}
div.img {
	display: contents;
	position: absolute;
}
div.img > img {
	height: 80%;
	width: 100%;
}
div#img01 {
	background: white
		url(../assets/images/Zolet\ Advocacia\ -\ Marca\ -\ pequena.jpg) center
		center no-repeat fixed;
	background-size: cover;
	border-radius: 10px;
}
div#img01 > p {
	background-color: rgba(0, 0, 0, 0.671);
	display: block;
	text-align: center;
}
