@charset "UTF-8";
@font-face {
	font-family: "Walkway Black";
	font-style: normal;
	font-weight: normal;
	src: local("Walkway Black"),
		url("../assets/fonts/Walkway_Black.ttf") format("ttf");
}

/*Variáveis de Cores*/
:root {
	--cor-primaria: #e5d5c4;
	--cor-secundaria: #766759;
	--cor-terciaria: #2c2623;
}
/* Reset do estilo do CSS */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	position: relative;
	border: none;
}
html,
body {
	font-size: 1em;
	font-family: "Walkway Black", Arial, Helvetica, sans-serif;
	width: 100vw;
	height: 100vh;
	background-color: white;
	transition: width 1s, height 1s;
	transition-timing-function: ease;
}
/* Cabeçalho */
header {
	background-color: var(--cor-primaria);
	padding: 10px;
	color: var(--cor-terciaria);
	text-align: center;
	height: 29vh;
}
div.logo > img {
	height: 100px;
	width: 250px;
}
div.img {
	display: contents;
	position: absolute;
}
div.img > img {
	height: 70%;
	width: 100%;}
/* Titulo foi substituído pela logo */
/* header > h1 {
	font-family: "Walkway Black";
	font-weight: 100;
	font-size: 4em;
	color: var(--cor-terciaria);
} */
div.botao {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
	color: var(--cor-terciaria);
}
div.botao > a {
	text-decoration: none;
}
div.botao > a > p {
	color: var(--cor-terciaria);
	font-size: 0.6em;
	font-family: "Walkway Black", Arial, Helvetica, sans-serif;
}
nav {
	display: flex;
	justify-content: space-evenly;
	line-height: normal;
}
nav > div > a > img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
}
nav > div > p {
	text-align: center;
	font-size: 0.2em;
}
/* Transição de cores em degrade - Excluído*/
/* section#degrade {
	height: 2vh;
	background-image: linear-gradient(
		to bottom,
		var(--cor-primaria),
		var(--cor-secundaria)
	);
} */

main {
	background-color: var(--cor-secundaria);
	height: 61vh;
	display: flex;
	justify-content: center;
}
iframe {
	/* padding: 10px; */
	border-radius: 10px;
	height: 60vh;
	width: 75vw;
	position: relative;
	top: -20px;
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.527);
	scroll-behavior: smooth;
}

footer {
	background-color: var(--cor-terciaria);
	color: var(--cor-primaria);
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 10vh;
}
footer > div#Whatsapp > a > img {
	height: 50px;
	width: 50px;
}
footer > div#Whatsapp > p {
	font-size: 0.5em;
	text-align: center;
}
footer > div#Maps > a > img {
	height: 50px;
	width: 50px;
}
footer > div#Maps > p {
	font-size: 0.5em;
	text-align: center;
}
footer > div#Contatos {
	text-align: end;
	font-size: 0.9em;
}

/* Botão com hover */
.button {
	width: 50px;
	height: 50px;
	border-radius: 15px;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-color: var(--cor-secundaria);
	border: 0px;
	cursor: pointer;
	outline: 0px;
	padding: 0 2px;
	font-weight: 600;
	font-size: 18px;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  .backdrop {
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: rgb(147, 147, 182);
	z-index: -1;
	top: 50%;
	left: 50%;
	border-radius: 15px;
	transform: translateX(-50%) translateY(-50%);
	transition: all ease-in-out 0.5s;
  }
  
  .button:hover + .backdrop {
	top: 48%;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	transform: rotate(15deg) translateX(-50%) translateY(-50%);
  }
  
  .button:active,.button:active +.backdrop {
	box-shadow: none;
  }